dev:
  status: true
  hosts: [""]

web:
  bind_addr: 0.0.0.0:3000
  external_url: http://tascii.example.com:3000

metrics:
  url: tcp://telegraf:8094
  max_failover: 5
  client_retries: 10

mailbox:
  bind_addr: 0.0.0.0:3001
  external_url: http://tascii.example.com:3001

cli:
  bind_addr: 0.0.0.0:3002
  external_url: 0.0.0.0:3002

pxe:
  http_base_url: http://10.13.0.3

notifications:
  mail_server: mail.example.com:25
  admin_gchat_webhook: example.mail:12345
  admin_mail_server: example.mail:12345
  send_from_email:
    username: example
    domain: mail.com
  admin_send_from_email:
    username: example
    domain: mail.com
  admin_send_to_email:
    username: example
    domain: mail.com
  templates_directory: templates/**/*.html
  vpn_config_path: /etc/laas-reflab/os-vpn-client.ovpn

cobbler:
  api:
    url: http://cobbler.example.com/cobbler_api
    username: username
    password: password

  ssh:
    address: 127.0.0.1
    port: 22
    user: username
    password: password
    writable_directory: /tmp
    system_directory: /srv/tftpboot/grub/system

ipa:
  - url: https://ipa.example.com
    username: username
    password: password
    certificate_path: config_data/os-ipa-ca.crt

  - url: https://ipa2.example.com
    username: username
    password: password
    certificate_path: config_data/os-ipa-ca.crt

eve:
  url: https://sandbox.url.com
  api_key: example-api-key
  onboarding_key: example-onboarding-key

projects:
  project1:
    vpn:
      ipa_group: project1
    notifications:
      email:
        booking_created: project1/booking_created.html
        booking_expiring: generic/booking_expiring.html
        booking_expired: generic/booking_expired.html
        vpn_access_added: project1/vpn_access_added.html
        account_created: generic/account_created.html
        booking_extension_request: generic/booking_extension_request.html
    styles_path: ./templates/generic/styles.json
    search_domains: []
    nameservers: []
    location: ""
    email: ""
    phone: ""
    is_dynamic: true
    dashboard_url: https://example.iol.unh.edu/

  project2:
    vpn:
      ipa_group: project2
    notifications:
      email:
        booking_created: project2/booking_created.html
        booking_expiring: generic/booking_expiring.html
        booking_expired: generic/booking_expired.html
        vpn_access_added: project2/vpn_access_added.html
        account_created: generic/account_created.html
        booking_extension_request: generic/booking_extension_request.html
    styles_path: ./templates/generic/styles.json
    search_domains: []
    nameservers: []
    location: ""
    email: ""
    phone: ""
    is_dynamic: false
    dashboard_url: https://example.iol.unh.edu/
