#cloud-config
autoinstall:
  version: 1
  shutdown: poweroff

  user-data:
    hostname: {{ hostname }}
    users:
    {% for user in ipa_users %}
    - name: {{ user["username"] }}
      lock_passwd: false
      groups: sudo
      sudo: ALL=(ALL) NOPASSWD:ALL
      shell: /bin/bash
      ssh_authorized_keys:
      {% for key in user["ssh_keys"] %}
      - {{ key }}
      {% endfor %}
    {% endfor %}


  network:
    version: 2
    ethernets:
    {% for interface in ethernet_interfaces %}
      {{ interface["device_name"] }}:
        match:
          macaddress: {{interface["mac_addr"] }}
        dhcp4: true
    {% endfor %}

    vlans:
      {% for vlan in vlans %}
      {{ vlan["interface_name"] }}:
        id: {{ vlan["vlan_id"] }}
        link: {{ vlan["device_name"] }}
        dhcp4: true
      {% endfor %}


  {# Why non-obvious stuff is in early_commands:
  - Why are we doing apt update here? 
    - apt update is to speed up the overall install, Ubuntu forces us to run it later with curtin which is notoriously slow 
      (this one line cuts installs by ~20 minutes)
  - Why are we running parted? 
    - Ubuntu does *NOT* wipe disks upon install, and there is no way to make it wipe all disks. So we have to query all disk names
      and reset the partition tables manually
    - This is the only step of the provision that is intended to "fail" as parted will report if updated partitions cannot be reported to the kernel,
      so we have the error-commands section restart the server to inform the kernel of the new partition tables 
  #}
  early-commands:
    - "apt-get update"
    - "for i in $(lsblk | awk '/^sd?/{print $1}'); do sudo parted -s /dev/$i -- mklabel gpt; done"
    - "curl -X POST -H \"Content-Type: application/json\" {{mailbox_endpoint.preimage_waiter}}/push -d '{\"success\": true}'"

  late-commands:
    - "curl -X POST -H \"Content-Type: application/json\" {{mailbox_endpoint.imaging_waiter}}/push -d '{\"success\": true}'"

  error-commands:
    - "sudo reboot -f"

  ssh:
    allow-pw: true
    install-server: true
 
  storage:
    layout:
      name: lvm
      sizing-policy: all