<!DOCTYPE HTML5>
<html>
  <body>
    <div style="{{ styles.messageContentWrapperStyle }}">
      {% if owner %}
      <h2 style="{{ styles.headerStyle }}">NEW BOOKING CONFIRMATION</h2>
      <div style="{{ styles.paragraphStyle }}">
        <p>
          We have received your booking request and will begin the deployment
          process. Please review your booking information below.
        </p>
        {% if extra.eve %}
        <p>
          To add your EVE-OS hosts to the lfedge sandbox please follow the instructions <a href="https://wiki.lfedge.org/display/LE/Getting+Started#GettingStarted-AddingHostsToSandbox">here</a>.
        </p>
        {% endif %}
      </div>
      {% else %}
      <h2 style="{{ styles.headerStyle }}">
        YOU HAVE BEEN ADDED TO A BOOKING AS A COLLABORATOR
      </h2>
      <div style="{{ styles.paragraphStyle }}">
        <p>
          You have been granted access to a booking reserved by {{ booking.owner
          }}. You may view the booking information below.
        </p>
      </div>
      {% endif %}
      <table style="{{ styles.tableStyle }}">
        <tr style="{{ styles.tableHeaderStyle }}">
          <td style="{{ styles.tableHeaderCellStyle }}" colspan="2">
            Booking Details
          </td>
        </tr>

        <tr style="{{ styles.tableRowStyle}}">
          <td style="{{ styles.tableCellStyle }}; font-weight: bold;">
            Owner:
          </td>
          <td style="{{ styles.tableCellStyle }}">{{ booking.owner }}</td>
        </tr>

        <tr>
          <td style="{{ styles.tableCellStyle }}; font-weight: bold;">ID:</td>
          <td style="{{ styles.tableCellStyle }}">{{ booking.id }}</td>
        </tr>

        <tr style="{{ styles.tableRowStyle }}">
          <td style="{{ styles.tableCellStyle }}; font-weight: bold;">Lab:</td>
          <td style="{{ styles.tableCellStyle }}">{{ booking.lab }}</td>
        </tr>

        <tr>
          <td style="{{ styles.tableCellStyle }}; font-weight: bold;">
            Resource:
          </td>
          <td style="{{ styles.tableCellStyle }}">{{ booking.template }}</td>
        </tr>

        <tr style="{{styles.tableRowStyle}}">
          <td style="{{ styles.tableCellStyle }}; font-weight: bold;">
            Start Date/Time:
          </td>
          <td style="{{ styles.tableCellStyle }}">{{ booking.start}}</td>
        </tr>

        <tr>
          <td style="{{ styles.tableCellStyle }}; font-weight: bold;">
            End Date/Time:
          </td>
          <td style="{{ styles.tableCellStyle }}">{{ booking.end}}</td>
        </tr>

        <tr style="{{styles.tableRowStyle}}">
          <td style="{{ styles.tableCellStyle }}; font-weight: bold;">
            Purpose:
          </td>
          <td style="{{ styles.tableCellStyle }}">{{ booking.purpose }}</td>
        </tr>

        <tr>
          <td style="{{ styles.tableCellStyle }}; font-weight: bold;">
            Project:
          </td>
          <td style="{{ styles.tableCellStyle }}">{{ booking.project }}</td>
        </tr>

        <tr style="{{styles.tableRowStyle}}">
          <td style="{{ styles.tableCellStyle }}; font-weight: bold;">
            Details:
          </td>
          <td style="{{ styles.tableCellStyle }}">{{ booking.details }}</td>
        </tr>

        <tr>
          <td style="{{ styles.tableCellStyle }}; font-weight: bold;">
            IPMI Username:
          </td>
          <td style="{{ styles.tableCellStyle }}">
            {{ booking.ipmi_username }}
          </td>
        </tr>

        <tr style="{{ styles.tableRowStyle}}">
          <td style="{{ styles.tableCellStyle }}; font-weight: bold;">
            IPMI Password:
          </td>
          <td style="{{ styles.tableCellStyle }}">
            {{ booking.ipmi_password }}
          </td>
        </tr>

        {% if booking.collaborators %}
        <tr>
          <td style="{{ styles.tableCellStyle }}; font-weight: bold;">
            Collaborators:
          </td>
          <td style="{{ styles.tableCellStyle }}">
            {% for collaborator in booking.collaborators %} {{ collaborator }}
            {% if not loop.last %}<br />{% endif %} {% endfor %}
          </td>
        </tr>
        {% else %}
        <tr>
          <td style="{{ styles.tableCellStyle }}; font-weight: bold;">
            Collaborators:
          </td>
          <td style="{{ styles.tableCellStyle }}">No collaborators</td>
        </tr>
        {% endif %}
      </table>
      <a href="{{ dashboard_url }}booking/detail/{{ booking.id }}">
        <button style="{{ styles.buttonStyle }}">Manage Your Booking</button>
      </a>
    </div>
  </body>
</html>
