<!DOCTYPE HTML5>
<html>
  <body>
    <div style="{{ styles.messageContentWrapperStyle }}">
      {% if owner %}
      <h2 style="{{ styles.headerStyle }}">YOUR BOOKING HAS EXPIRED</h2>
      <div style="{{ styles.paragraphStyle }}">
        <p>
          Your booking has expired and the associated resources have been
          released. Thank you for contributing to {{ booking.project }}, feel
          free to book another resource at any time.
        </p>
      </div>
      {% else %}
      <h2 style="{{ styles.headerStyle }}">
        A BOOKING YOU COLLABORATED ON HAS EXPIRED
      </h2>
      <div style="{{ styles.paragraphStyle }}">
        <p>
          A booking owned by <strong>{{ booking.owner }}</strong> that you
          collaborated on has expired. For more information, click the button
          below.
        </p>
      </div>
      {% endif %}
      <table style="{{ styles.tableStyle }}">
        <tr style="{{ styles.tableHeaderStyle }}">
          <td style="{{ styles.tableHeaderCellStyle }}" colspan="2">
            Booking Details
          </td>
        </tr>

        <tr style="{{ styles.tableRowStyle}}" }>
          <td style="{{ styles.tableCellStyle }}; font-weight: bold;">
            Owner:
          </td>
          <td style="{{ styles.tableCellStyle }}">{{ booking.owner }}</td>
        </tr>

        <tr>
          <td style="{{ styles.tableCellStyle }}; font-weight: bold;">ID:</td>
          <td style="{{ styles.tableCellStyle }}">{{ booking.id }}</td>
        </tr>

        <tr style="{{ styles.tableRowStyle }}">
          <td style="{{ styles.tableCellStyle }}; font-weight: bold;">Lab:</td>
          <td style="{{ styles.tableCellStyle }}">{{ booking.lab }}</td>
        </tr>

        <tr>
          <td style="{{ styles.tableCellStyle }}; font-weight: bold;">
            Resource:
          </td>
          <td style="{{ styles.tableCellStyle }}">{{ booking.template }}</td>
        </tr>

        <tr style="{{styles.tableRowStyle}}">
          <td style="{{ styles.tableCellStyle }}; font-weight: bold;">
            Start Date/Time:
          </td>
          <td style="{{ styles.tableCellStyle }}">{{ booking.start}}</td>
        </tr>

        <tr>
          <td style="{{ styles.tableCellStyle }}; font-weight: bold;">
            End Date/Time:
          </td>
          <td style="{{ styles.tableCellStyle }}">{{ booking.end}}</td>
        </tr>

        <tr style="{{styles.tableRowStyle}}">
          <td style="{{ styles.tableCellStyle }}; font-weight: bold;">
            Purpose:
          </td>
          <td style="{{ styles.tableCellStyle }}">{{ booking.purpose }}</td>
        </tr>

        <tr>
          <td style="{{ styles.tableCellStyle }}; font-weight: bold;">
            Project:
          </td>
          <td style="{{ styles.tableCellStyle }}">{{ booking.project }}</td>
        </tr>

        <tr style="{{styles.tableRowStyle}}">
          <td style="{{ styles.tableCellStyle }}; font-weight: bold;">
            Details:
          </td>
          <td style="{{ styles.tableCellStyle }}">{{ booking.details }}</td>
        </tr>

        {% if booking.collaborators %}
        <tr>
          <td style="{{ styles.tableCellStyle }}; font-weight: bold;">
            Collaborators:
          </td>
          <td style="{{ styles.tableCellStyle }}">
            {% for collaborator in booking.collaborators %} {{ collaborator }}
            {% if not loop.last %}<br />{% endif %} {% endfor %}
          </td>
        </tr>
        {% else %}
        <tr>
          <td style="{{ styles.tableCellStyle }}; font-weight: bold;">
            Collaborators:
          </td>
          <td style="{{ styles.tableCellStyle }}">No collaborators</td>
        </tr>
        {% endif %}
      </table>
      <a href="{{ dashboard_url }}booking/detail/{{ booking.id }}">
        <button style="{{ styles.buttonStyle }}">More Information</button>
      </a>
    </div>
  </body>
</html>
