set system="{{ system_name }}"
set timeout=1
set default='{{ system_name }}'
menuentry '{{ system_name }}' --class gnu-linux --class gnu --class os {
  echo 'Loading kernel ...'
  linux {{ kernel_path }} {% for arg in kernel_args -%} {{ arg }} {% endfor %}
  echo 'Loading initial ramdisk ...'
  initrd {% for initrd in initrd_paths -%} {{ initrd }} {% endfor %}
  echo '...done'
}