%ksappend http://{{pxe_address}}{{base_config_uri}}

{% for user in ipa_users %}
user --name={{user["username"]}} --groups=wheel --lock 
sshkey --username={{user["username"]}} "{% for key in user["ssh_keys"] %} {{ key }} {% endfor %}"

{% endfor %}

{% for config in vlan_configs %}
{{config}} --hostname {{hostname}}

{% endfor %}

%pre
curl -X POST -H "Content-Type: application/json" {{mailbox_endpoint.preimage_waiter}}/push -d '{"success": true}'

%end

%post 

{% for interface in interfaces %}
nmcli con del {{interface}}

{% endfor %}

curl -X POST -H "Content-Type: application/json" {{mailbox_endpoint.imaging_waiter}}/push -d '{"success": true}'
%end